<div id="<%= dom_id event_log %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Event:</strong>
    <%= event_log.event_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= event_log.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Participated at:</strong>
    <%= event_log.participated_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Points awarded:</strong>
    <%= event_log.points_awarded %>
  </div>
</div>
