<div id="<%= dom_id olympic_season %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= olympic_season.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start month:</strong>
    <%= olympic_season.start_month %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start day:</strong>
    <%= olympic_season.start_day %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End month:</strong>
    <%= olympic_season.end_month %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End day:</strong>
    <%= olympic_season.end_day %>
  </div>
</div>
